## Group by windows

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math
from sklearn.decomposition import PCA
from sklearn.covariance import EllipticEnvelope
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
%matplotlib inline

In [9]:
df = pd.read_csv("dataset.csv")
df.describe()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11
count,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000,162702.000000
mean,0.000009,0.000011,0.000031,0.000005,0.000016,-0.000005,-0.000002,0.000003,-0.000021,0.000026,0.000030
std,0.999950,0.999925,0.999961,0.999925,0.999963,0.999926,0.999950,0.999949,0.997770,0.999686,0.999847
min,-3.211980,-3.395387,-3.325651,-3.378450,-3.281286,-4.200181,-3.898025,-3.524957,-13.704556,-12.044778,-3.183571
25%,-0.678808,-0.482716,-0.629123,-0.491585,-0.612334,-0.559023,-0.606135,-0.736398,-0.593096,-0.498480,-0.658530
50%,0.041883,0.180360,0.041442,0.147397,0.117040,0.153972,0.186038,-0.012354,-0.034882,-0.257635,-0.015437
75%,0.743973,0.656920,0.659246,0.636887,0.712393,0.685353,0.718237,0.802395,0.508232,0.359773,0.636740
max,5.013899,6.260782,8.652950,8.359670,6.424227,5.638259,3.735957,4.667058,8.203706,5.597387,9.204384

In [27]:
df_windows_median = df.groupby('day_cycle_window').median()
df_windows_std = df.groupby('day_cycle_window').std()

In [16]:
df[df['day_cycle_window'] == '1_1_1'].std()

p1     0.591155
p2     0.739638
p3     0.661250
p4     0.631763
p5     0.688777
p6     0.741959
p7     0.666670
p8     0.771232
p9     0.246201
p10    0.673869
p11    0.724468
dtype: float64

In [22]:
std = pd.DataFrame()
median = pd.DataFrame()
for w in df['day_cycle_window'].unique():
    std.append(df[df['day_cycle_window'] == w].std(), ignore_index = True)
    median.append(df[df['day_cycle_window'] == w].median(), ignore_index = True)
    
    
std['day_cycle_window'] = df['day_cycle_window'].unique()
median['day_cycle_window'] = df['day_cycle_window'].unique()